@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
.App {
  height: 100vh;
  background: url('https://c.tenor.com/RRhijk6pHAoAAAAC/good-morning.gif');
  background-size: cover;
}

.title {
  font-family: 'Rubik Moonrocks', cursive;
}
